@import "tailwindcss";

:root {
  --background: #ffffff;
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-geist-mono);
}

.bg-primary {
  background-color: #25459B;
}

.bg-secondary{
  background-color: #F0F3FC;
}

.bg-tertiary{
  background-color: #F8F8F8;
}

@theme inline {
  --color-primary: #204198;
  --color-secondary: #f0f3fd;
  --color-tertiary: #00273D;
  --color-quaternary:#42A5F5;
  --color-prevention: #F2F2F2;
  --color-gray:#575757;
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: var(--font-sans); 
}
